* {
  margin: 0;
  padding: 0;
}

.dash {
  /* margin: 10px; */
  gap: 10px;
  height: 300px;
  width: 200px;
  margin-bottom: 20px;
}

.book > img {
  height: 280px;
  width: 100%;
}

.sold {
  margin: 5px 0;
}

@media screen and (max-width: 480px) {
  .dash {
    height: 280px;
    width: 180px;
  }

  .book > img {
    height: 250px;
  }
}
