@import "../../global.scss";

.footer {
  .wrapper {
    display: flex;
    justify-content: space-between;
    @include mobile{flex-direction: column;}
    .box {
      ul {
        list-style: none;
        li {
          margin: 20px 0;
          font-family: $roboto;
          font-size: 18px;
          font-weight: 400;
          @include mobile{font-size: 16px;}
        }
        .heading {
          font-weight: 700;
          font-size: 18px;
          color: $black;
          @include mobile{font-size: 16px;}
        }
        .social {
          display: flex;
          align-items: center;
          flex: 1;
          gap: 15px;
          cursor: pointer;
          img{width: 20px;}
        }
      }
    }
  }
}
