@import "../../global.scss";

.footer {
  background-color: #000;
  color: white;
  padding: 20px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  @include tab{
    padding: 20px;
  }

  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include tab {
      flex-direction: column;
    }
    .box {
      ul {
        list-style: none;
        li {
          margin: 20px 0;
          font-family: $dmsan;
          font-size: 18px;
          font-weight: 400;
          @include tab {
            font-size: 16px;
          }
        }
        .heading {
          font-family: $dmsan;
          font-weight: 700;
          font-size: 18px;
          color: $black;
          @include mobile {
            font-size: 16px;
          }
        }
        .social {
          display: flex;
          align-items: center;
          flex: 1;
          gap: 15px;
          cursor: pointer;
          img {
            width: 20px;
          }
        }
      }
    }
  }

  .divider {
    width: 50%;
    height: 1px;
    background-color: lightgray;
  }
}
